<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <appender name="api" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/api/api.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/api/api.%d{yyyyMMdd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %-5level [%logger{50}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/sql/sql.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/sql/sql.%d{yyyyMMdd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="http" class="drama.painter.core.web.log.ElasticSearchLogAppender">
        <format>HTTP</format>
    </appender>
    <!--
        <appender name="http" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${log.path}/http/http.log</file>
            <append>true</append>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${log.path}/http/http.%d{yyyyMMdd}.zip</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%date - %msg%n</pattern>
            </encoder>
        </appender>
    -->
    <root level="INFO">
        <appender-ref ref="api"/>
    </root>

    <logger name="sql" level="DEBUG" additivity="false">
        <appender-ref ref="sql"/>
    </logger>

    <logger name="http" level="DEBUG" additivity="false">
        <appender-ref ref="http"/>
    </logger>

    <logger name="org.springframework.boot.actuate.endpoint.EndpointId" level="ERROR">
        <appender-ref ref="api"/>
    </logger>

    <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR">
        <appender-ref ref="api"/>
    </logger>
</configuration>
