<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>查询操作日志</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
<div id="app">
    <!-- 导航栏 -->
    <div class="navigator">
        <el-breadcrumb separator-class="el-icon-arrow-right" class="pager">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>查询操作日志</el-breadcrumb-item>
        </el-breadcrumb>
        <!-- 搜索功能 -->
        <el-date-picker size="small" v-model="datetime" type="datetimerange" value-format="yyyy-MM-dd HH:mm:ss" :clearable="false" align="right"
                :picker-options="pickerOptions" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
        <el-input size="small" placeholder="请输入内容" v-model="searchText" class="input-with-select">
            <el-select v-model="timespan" slot="prepend">
                <el-option label="用时" value="0"></el-option>
                <el-option label="1秒" value="1000"></el-option>
                <el-option label="3秒" value="3000"></el-option>
                <el-option label="5秒" value="5000"></el-option>
                <el-option label="8秒" value="8000"></el-option>
                <el-option label="10秒" value="10000"></el-option>
            </el-select>
            <el-button @click="btnSearchClick" slot="append" icon="el-icon-search"></el-button>
        </el-input>
        <div class="fr">
            <el-button size="small" @click="search" icon="el-icon-refresh"></el-button>
        </div>
    </div>
    <!-- 表格 -->
    <el-table :data="tableData" :border="true" v-loading="loading" element-loading-text="拼命加载中" element-loading-spinner="el-icon-loading" size="mini">
        <el-table-column prop="timestamp" label="时间" width="180px"></el-table-column>
        <el-table-column prop="project" label="项目" width="120px"></el-table-column>
        <el-table-column prop="timespan" label="用时" width="100px"></el-table-column>
        <el-table-column prop="username" label="帐号" width="150px"></el-table-column>
        <el-table-column prop="ip" label="IP" width="140px"></el-table-column>
        <el-table-column prop="url" label="网址" width="150px"></el-table-column>
        <el-table-column prop="session" label="SESSION" width="280px"></el-table-column>
        <el-table-column prop="parameter" label="参数"></el-table-column>
        <el-table-column prop="result" label="结果"></el-table-column>
    </el-table>
    <el-pagination slot="paging" class="pager" layout="total, prev, pager, next" :total="rowCount" :page-size="15" :current-page="page" @current-change="pageChanged"></el-pagination>
</div>
<script src="/js/core.js"></script>
<script src="/js/oa/operation.js"></script>
</body>
</html>