<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>聊天登录</title>
	<link href="/images/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="form" style="width: 500px">
	<form action="/login/security" method="post">
		<table class="imgtable">
			<tr>
				<td>用户名</td>
				<td><input type="text" name="username"/></td>
			</tr>
			<tr>
				<td>密码</td>
				<td><input type="password" name="password"/></td>
			</tr>
			<tr>
				<td>记住我</td>
				<td><input type="checkbox" name="remeber" id="remeber"/><label for="remeber">1天</label></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button type="submit">登录</button>
				</td>
			</tr>
			<tr>
				<td></td>
				<td data-th-text="${param.error}"></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>